<div class="container text-center">
    <h2>About page</h2>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entreprenuers to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quis natus ut voluptas. Mollitia quidem labore, perspiciatis dolorem voluptate harum minima aut consectetur eligendi, dolorum non quasi vero beatae enim. </p>
</div>